[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Obálky knih: Konfigurace</title>
[% INCLUDE 'doc-head-close.inc' %]
<link href="[% PLUGIN_PATH %]/css/obalky-knih.css" rel="stylesheet" type="text/css" />
</head>
<body>
[% INCLUDE 'header.inc' %]
<div id="breadcrumbs">
    <a href="/cgi-bin/koha/mainpage.pl">Koha</a> &rsaquo;
    <a href="/cgi-bin/koha/tools/tools-home.pl">Nástroje</a> &rsaquo;
    <a href="/cgi-bin/koha/plugins/plugins-home.pl">Zásuvné moduly</a> &rsaquo;
    Obálky knih - Konfigurace
</div>

<div id="doc3" class="obalky-plugin">
    <h3>Obálky knih: Konfigurace</h3>

    <!-- Notice our form here has no 'action', this is good, it means that our forms will always get passed back to 'plugins/run.pl'. -->
    <form method="get">
        <!-- Always pass these two parameters so the plugin system knows what to execute! -->
        <input type="hidden" name="class" value="[% CLASS %]"/>
        <input type="hidden" name="method" value="[% METHOD %]"/>

        <fieldset class="rows">
        <legend>Nastavení knihovny</legend>
        <ol>
            <li>
                <label class="form-field-label" for="sigla">SIGLA</label>
                <input type="text" name="sigla" value="[% sigla %]">
            </li>
        </ol>
        </fieldset>

        <p>
            <input type="hidden" name="save" value="1" />
            <input type="submit" value="Uložit nastavení" />
        </p>

    </form>
[% INCLUDE 'intranet-bottom.inc' %]
